.weatherSelectButton {
  height: 10rem;
  width: 10rem;
  border: 1px solid #ccc;
  border-radius: 20px;
  display: flex;
  align-items: center;
  justify-content: center;
  color: #eee;
  font-size: 2rem;
  cursor: pointer;
  background-size: cover;

  .iconImg {
    height: 3rem;
    width: 3rem;
  }

  .pauseImg {
    height: 3rem;
    width: 3rem;
  }
}
